html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    background-color: #272822;
}

div {
    text-align: center;
}

input {
    display: inline-block;
}

video {
    margin: auto;
    margin-top: 200px;
    display: block;
}